#map {



}


canvas {height: 42%!important;width: 50%!important;/* float: left!important; */position: relative;/* margin-left: 1437px; *//* height: 411px; */border-radius: 10px;box-shadow: 0px 0px 1px 1px #75cff0;left: 78em;top: 13em;}